<html>
<head>
<title> Student Management System</title>
<link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="menu-bar">
<ul>
<li > <a href="#">Student</a>
<div class="sub-menu-1">
<ul>
<li><a href="/addstudent">Add Student</a></li>
<li><a href="/editstudent">Update Student</a></li>
<li><a href="/delstudent">Delete Student</a></li>
<li><a href="/searchstudent">View Student</a></li>
</ul>
</div>
</li>

<li ><a href="#">Staff</a>
<div class="sub-menu-1">
<ul>
<li><a href="/addstaff">Add Staff</a></li>
<li><a href="/editstaff">Update Staff</a></li>
<li><a href="/delstaff">Delete Staff</a></li>
<li><a href="/searchstaff">View Staff</a></li>
</ul>
</div>
</li>

<li ><a href="#"> Course</a>
<div class="sub-menu-1">
<ul>
<li><a href="/addcourse">Add Course</a></li>
<li><a href="/editcourse">Update Course</a></li>
<li><a href="/delcourse">Delete Course</a></li>
<li><a href="/searchcourse">View Course</a></li>
</ul>
</div>
</li>
<li > <a href="#">Stream</a>
<div class="sub-menu-1">
<ul>
<li><a href="/addstream">Add Stream</a></li>
<li><a href="/editstream">Update Stream</a></li>
<li><a href="/delstream">Delete Stream</a></li>
<li><a href="/searchstream">View Stream</a></li>
</ul>
</div>
</li>
<li > <a href="#">Subject</a>
<div class="sub-menu-1">
<ul>
<li><a href="/addsubject">Add Subject</a></li>
<li><a href="/editsubject">Update Subject</a></li>
<li><a href="/delsubject">Delete Subject</a></li>
<li><a href="/searchsubject">View Subject</a></li>
</ul>
</div>
</li>

<li > <a href="#">About</a></li>
</ul>
</div>
</body>
</html>